@model Aplicacion_Web_Hospedaje.Models.LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sesión Cliente";
}

<h2>Ingreso Cliente</h2>

<form asp-action="LoginCliente" method="post">
    <div class="form-group">
        <label asp-for="CorreoElectronico"></label>
        <input asp-for="CorreoElectronico" class="form-control" />
        <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-2">Entrar</button>
</form>
