@{
    ViewData["Title"] = "Seleccionar Tipo de Usuario";
}

<div class="container text-center mt-5">
    <h2>¿Cómo desea ingresar?</h2>
    <div class="mt-4">
        <a href="/Account/LoginCliente" class="btn btn-warning btn-lg me-3">Soy Cliente</a>
        <a href="/Account/LoginPersonal" class="btn btn-dark btn-lg">Soy Personal</a>
    </div>
</div>
